:root {
    --main-color: #1a3467;
    --secondary-color: #b10a0b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Tajawal', sans-serif;
}

body {
    background-image: url('/elgomhoria/public/site/imgs/single.svg');
    background-size: cover;
    background-attachment: fixed;
}

.container {
    width: 100%;
    padding: 0 1.2rem;
    margin: auto;
}

@media (min-width: 576px) {
    .container {
        width: 540px;
        /* For small devices (up to 575.98px) */
    }
}

@media (min-width: 768px) {
    .container {
        width: 720px;
        /* For medium devices (576px to 767.98px) */
    }
}

@media (min-width: 992px) {
    .container {
        width: 960px;
        /* For large devices (768px to 991.98px) */
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1140px;
        /* For extra large devices (992px to 1199.98px) */
    }
}

@media (min-width: 1600px) {
    .container {
        width: 1350px;
        /* For extra large devices (992px to 1199.98px) */
    }
}

header {
    padding: 30px 0;
}

header:nth-of-type(2) {
    opacity: 0;
}

header .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

header .container>div:last-child,
header .container>div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

header .container>div:first-child button,
header .container>div:last-child button {
    font-size: 31px;
    background: transparent;
    border: none;
    color: #ca0000;
}

header .container>div:first-child p {
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
}

header .container div:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
}

header .container div:nth-child(2) img {
    width: 12rem;
}

header .social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: .5rem 1rem;
    background: rgba(255, 201, 201, 0.6);
    border-radius: 50px;
}

header .social a {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 50%;
    text-decoration: none;
    color: #000;
}

footer .top {
    background: var(--secondary-color);
    padding: .5rem;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .top a {
    color: white;
    font-size: 1rem;
    padding: 0 1rem;
    text-decoration: none;
}

footer .top a:not(:last-child) {
    border-right: 1px solid white;
}

footer .bottom {
    padding: 1.1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: var(--main-color);
    font-size: 1.25rem;
}

/* start register  */

.input-search,
.page-head .container,
.or,
.register_wrapper>.container,
.register_wrapper>.container form,
.register_wrapper>.container form .head,
.register_wrapper>.container form .sign {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
}

body {
    max-width: 100vw;
    overflow: hidden auto;
}

input:focus,
textarea:focus {
    outline: 1px solid #0b5177;
}

.input-search {
    position: relative;
}

.input-search input {
    padding: .8rem 1.2rem;
    font-size: .8rem;
    letter-spacing: 1px;
    border-radius: .5rem;
    border: 1px solid #d5dfe4;
}

.input-search i {
    position: absolute;
    right: 10px;
    font-size: 1.25rem;
}

.input {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input input {
    width: 100%;
    padding: clamp(0.9rem, calc(0.7667rem + 0.5333vw), 1.1rem) clamp(2.8rem, calc(2.3333rem + 1.8667vw), 3.5rem);
    font-size: clamp(0.8rem, calc(0.6667rem + 0.5333vw), 1rem);
    border-radius: clamp(0.7rem, calc(0.5rem + 0.8vw), 1rem);
    border: 1px solid #d5dfe4;
    background-color: #f0f3f8;
    color: #0b5177;
}

.input img {
    width: clamp(1.2rem, calc(0.9333rem + 1.0667vw), 1.6rem);
    position: absolute;
    left: 1rem;
}

.button {
    width: 100%;
    padding: clamp(0.9rem, calc(0.7667rem + 0.5333vw), 1.1rem);
    font-size: clamp(0.8rem, calc(0.6667rem + 0.5333vw), 1rem);
    border-radius: clamp(0.7rem, calc(0.5rem + 0.8vw), 1rem);
    border: 1px solid #b10a0b;
    background-color: #b10a0b;
    color: #fff;
    transition: .3s all ease-in;
    cursor: pointer;
}

.button:hover {
    background-color: transparent;
    color: #b10a0b;
    font-weight: 500;
}

.page-head {
    background-color: #f0f3f8;
    margin-top: 2px;
}

.page-head .container {
    justify-content: start;
    padding: 1rem 0 1rem clamp(0rem, calc(-2.3636rem + 9.4545vw), 6.5rem) !important;
    font-size: 1rem;
    color: #0b5177;
    font-weight: 400;
}

@media (max-width: 600px) {
    .page-head .container {
        justify-content: center;
    }
}

.page-head .container i {
    font-size: .8rem;
}

.or {
    width: 80%;
    font-weight: 300;
    font-size: 1rem;
    text-transform: uppercase;
}

.or span {
    width: 100%;
    height: 1px;
    background-color: #d5dfe4;
}

.section_head_r {
    font-size: clamp(1.25rem, calc(0.7955rem + 1.8182vw), 2.5rem);
    font-weight: 400;
    letter-spacing: 1px;
    text-align: center;
}

.section_head_r span {
    font-weight: 600;
    border-bottom: 4px solid #b10a0b;
}

.section_head_b {
    font-size: clamp(1.25rem, calc(0.7955rem + 1.8182vw), 2.5rem);
    font-weight: 400;
    letter-spacing: 1px;
    text-align: center;
}

.section_head_b span {
    font-weight: 600;
    border-bottom: 4px solid #0b5177;
}

.section_head_bl {
    font-size: clamp(1.25rem, calc(0.7955rem + 1.8182vw), 2.5rem);
    font-weight: 400;
    letter-spacing: 1px;
    text-align: center;
}

.section_head_bl span {
    font-weight: 600;
    border-bottom: 4px solid #000;
}

.register_wrapper {
    min-height: 100vh;
    padding: 7rem 0;
    display: flex;
    align-items: center;
}

.register_wrapper>.container {
    padding: clamp(1.5rem, calc(1.0556rem + 1.7778vw), 2.5rem) 0 0;
}

.register_wrapper>.container form {
    flex-direction: column;
    max-width: 32rem;
    width: 100%;
    gap: .8rem;
}

.register_wrapper>.container form .head {
    text-align: center;
    flex-direction: column;
    gap: .2rem;
}

.register_wrapper>.container form .head h1 {
    font-weight: 600;
    font-size: clamp(1.25rem, calc(0.9167rem + 1.3333vw), 2rem);
    color: #33332c;
}

.register_wrapper>.container form .head p {
    font-size: clamp(0.8rem, calc(0.7111rem + 0.3556vw), 1rem);
    font-weight: 400;
    color: #717171;
    margin-bottom: 5px;
}

.register_wrapper>.container form .head p a {
    text-decoration: none;
    border-bottom: 1px solid;
    color: #b10a0b;
}

.register_wrapper>.container form>p {
    font-size: clamp(0.8rem, calc(0.6667rem + 0.5333vw), 1rem);
    font-weight: 400;
    color: #33332c;
    text-align: center;
}

.register_wrapper>.container form>p a {
    text-decoration: none;
    color: #0662ec;
}

.register_wrapper>.container form .button {
    margin-top: clamp(0.5rem, calc(0.1667rem + 1.3333vw), 1rem);
}

.register_wrapper>.container form .sign {
    width: 100%;
    padding: clamp(0.8rem, calc(0.6667rem + 0.5333vw), 1rem) clamp(4.8rem, calc(3.6364rem + 4.6545vw), 8rem);
    font-size: clamp(0.8rem, calc(0.6667rem + 0.5333vw), 1rem);
    border-radius: clamp(0.7rem, calc(0.5rem + 0.8vw), 1rem);
    border: 1px solid #d5dfe4;
    color: #33332c;
    text-decoration: none;
    font-weight: 500;
    justify-content: start;
    max-width: 100%;
    white-space: nowrap;
}

.register_wrapper>.container form .sign img {
    width: clamp(1.5rem, calc(1.3182rem + 0.7273vw), 2rem);
}

/* start home */
#home section .head {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 1rem;
}

#home section .head h1 {
    font-size: 1.5rem;
    color: var(--main-color);
}

#home section .head a {
    font-size: 1rem;
    text-decoration: none;
    font-weight: 400;
    color: #1a3467;
}

.football {
    margin-top: 2rem;
}

.football .sub_categories {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1rem;
}

.football .sub_categories .card {
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
    color: #131313;
    text-decoration: none;
}

.football .sub_categories .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(70%);
}

.football .sub_categories .card h1 {
    position: absolute;
    bottom: .7rem;
    left: .7rem;
    font-size: 1.5rem;
    white-space: nowrap;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.77);
    font-weight: 500;
}


.most-popular {
    margin-top: 2rem;
}

.most-popular .sub_categories {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
}

.most-popular .sub_categories .card {
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
    height: 200px;
}

.most-popular .sub_categories .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(70%);
}

.most-popular .sub_categories .card h1 {
    position: absolute;
    bottom: .8rem;
    left: .8rem;
    font-size: 1.5rem;
    white-space: nowrap;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.77);
}

.latest-terms {
    margin-top: 2rem;
}

.latest-terms .terms-wrapper {
    padding: 1.5rem;
    border-radius: 20px;
    background: #e7edf8;
}

.latest-articles .articles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.latest-articles .article {
    background: #fff;
    border-radius: 1rem;
    overflow: hidden;
    border: 1px solid #1a34673d;
    height: fit-content;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.latest-articles .article .thumbnail {
    width: 100%;
    height: 100%;
}

.latest-articles .article .thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.latest-articles .article .text {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.latest-articles .article p {
    color: #617aa4;
    font-size: 1rem;
}

.latest-articles .article .foot {
    display: flex;
    justify-content: start;
    gap: 1rem;
    color: #305491;
    margin-top: 1rem;
}

.latest-articles .article .title {
    font-size: 1.5rem;
    color: var(--main-color);
}

.latest-articles .article .foot i {
    font-size: 1.25rem;
}

.latest-articles .article .foot .author span {
    color: var(--secondary-color);
}

.latest-terms .terms {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 1rem;
}

.latest-terms .term {
    padding: .7rem 1rem;
    background: white;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
}

.latest-terms .term::after {
    content: '';
    width: 100%;
    height: 3px;
    background-color: #b2c0de;
    position: absolute;
    bottom: 0;
    left: 0;
}

.latest-terms .term h2 {
    font-size: 1.5rem;
    color: var(--main-color);
    font-weight: 700;
}

.latest-terms .term h4 {
    font-size: 1rem;
    font-weight: 400;
    color: var(--secondary-color);
}

.latest-articles {
    margin-bottom: 3rem;
    margin-top: 2rem;
}

.ar #term article {
    direction: rtl;
}

#term>.container {
    display: flex;
    flex-direction: row-reverse;
    gap: 1.25rem;
}

#term article .head {
    padding: 1rem 0;
    border-bottom: 1px solid #8080803d;
    grid-column: 1/ span 2;
}

#term article {
    padding: 1rem 0;
    grid-column: 1/ span 2;
}

.ar #term article {
    grid-column: 2/ span 2;
}

#term article .head h1 {
    margin-bottom: 10px;
}

#term article .head .date {
    margin: 0 20px;
}

#term article .thumbnail {
    margin: 1rem 0;
    overflow: hidden;
    border-radius: 1rem;
}

#term article .thumbnail img {
    width: 100%;
}

#term article .content {
    margin-bottom: 2rem;
}

#term article h2 {
    font-size: 1.5rem;
}

#term article h1 {
    font-size: 2rem;
}

#term article .head>div {
    color: #535353;
}

#term aside {
    min-width: 30%;
    overflow: hidden;
}

#term aside .top_title {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    gap: 10px;
    white-space: nowrap;
    margin-top: 2rem;
}

#term aside .top_title .line {
    width: 100%;
    height: 1px;
    background: #000;
}

#term aside .top_cat .categories {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#term aside .top_cat .categories .cat {
    width: 100%;
    height: 90px;
    overflow: hidden;
    border-radius: .7rem;
    position: relative;
}

#term aside .top_cat .categories .cat img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#term aside .top_cat .categories .cat h3 {
    position: absolute;
    z-index: 23;
    bottom: .5rem;
    left: .5rem;
    color: #fff;
}

#term .top_words .terms {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    padding: 1.15rem;
    border-radius: .8rem;
    background: #e7edf8;
}

#term .top_words .term {
    padding: .6rem .8rem;
    background: white;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
}

#term .top_words .term::after {
    content: '';
    width: 100%;
    height: 3px;
    background-color: #b2c0de;
    position: absolute;
    bottom: 0;
    left: 0;
}

#term .top_words .term h2 {
    font-size: 1.25rem;
    color: var(--main-color);
    font-weight: 700;
}

#term .top_words .term h4 {
    font-size: .9rem;
    font-weight: 400;
    color: var(--secondary-color);
}

@media (max-width: 1199.98px) {
    .football .sub_categories .card h1 {
        font-size: 1.1rem;
        font-weight: 600;
    }

    .most-popular .sub_categories .card h1 {
        font-size: 1.25rem;
    }

    .latest-articles .article .title {
        font-size: 1.2rem;
    }

    .latest-articles .article p {
        color: #617aa4;
        font-size: .9rem;
    }

    .latest-articles .article {
        grid-template-rows: 1fr 1.5fr;
    }
}

@media (max-width: 992.98px) {
    .football .sub_categories .card h1 {
        position: absolute;
        bottom: 1rem;
        left: 50%;
        font-size: 1.5rem;
        white-space: nowrap;
        color: #fff;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.77);
        font-weight: 600;
        transform: translateX(-50%);
    }

    .football .sub_categories {
        grid-template-columns: repeat(3, 1fr);
    }

    .most-popular .sub_categories {
        grid-template-columns: repeat(4, 1fr);
    }

    .latest-articles .article {
        grid-template-rows: 1fr 1.2fr;
    }

    .latest-articles .article .foot {
        font-size: .8rem;
    }

    .latest-articles .article .foot i {
        font-size: 1rem;
    }

    .latest-articles .article {
        grid-template-rows: 1fr 1.2fr;
    }
}

@media (max-width: 767.98px) {
    .football .sub_categories .card h1 {
        bottom: .7rem;
        font-size: 1rem;
    }

    .most-popular .sub_categories {
        grid-template-columns: repeat(3, 1fr);
    }

    .latest-articles .articles {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 500px) {
    .football .sub_categories {
        grid-template-columns: repeat(2, 1fr);
    }

    .football .sub_categories .card h1 {
        font-size: 1.2rem;
    }

    .most-popular .sub_categories {
        grid-template-columns: repeat(2, 1fr);
    }

    #home section .head h1 {
        font-size: 1.1rem;
        color: var(--main-color);
    }

    footer .bottom {
        padding: 1rem 0;
        font-size: 1rem;
    }

    footer .top a {
        font-size: .8rem;
    }
}

.home .container {
    display: grid;
    grid-template-columns: 2fr 3fr 1fr;
}

.col-1 {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.col-2 {
    max-width: 655px;
}

.home .mainSwiper {
    width: 100%;
    padding: 1rem 1rem 2rem;
    margin-bottom: 1.8rem;
    height: 535px
}

.home .mainSwiper .swiper-slide {
    padding: 1.25rem;
    background: rgba(255, 255, 255, 0.5) none repeat scroll 0% 0%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px 0px;
    border-radius: 1.25rem;
}

.home .mainSwiper .swiper-slide .thumbnail {
    width: 100%;
    overflow: hidden;
    height: 60%;
    border-radius: 1.25rem;
}

.home .mainSwiper .swiper-slide .thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home .mainSwiper .swiper-slide .text h2 {
    font-size: 25px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: center;
}

.home .mainSwiper .swiper-slide .text p {
    font-size: 19px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: right;
}

.home .mainSwiper .swiper-slide .text p span {
    font-weight: 600;
}

.swiper-pagination-bullet {
    width: 40px;
    height: 6px;
    background: #F00;
    border-radius: 12px;
}

.mainSwiper-swiper-pagination {
    left: 0;
    width: 100%;
    bottom: 3px;
    top: auto;
    position: absolute;
}

.swiper-pagination-bullets {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ad_wrapper {
    width: 100%;
    padding: 1rem 0 1rem;
}

.ad {
    width: 100%;
    height: 500px;
    background: rgba(217, 217, 217, 1);
    box-sizing: content-box;
    border-radius: 1.25rem;
}

.latest {
    padding: 1.25rem;
    background: rgba(255, 255, 255, 0.5) none repeat scroll 0% 0%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px 0px;
    border-radius: 1.25rem;
}

.cat-head {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.cat-head .cat {
    background: #FF0000;
    border-radius: 30px;
    width: fit-content;
    padding: .5rem 2rem;
    font-size: 23px;
    font-weight: 700;
    color: #fff;
}

.latest .card {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin: .8rem 0 0;
    align-items: center;
    text-align: right;
    font-size: 19px;
    font-weight: 500;
    line-height: 21px;
    color: #131313;
    text-decoration: none;
}

.latest .card .img {
    min-width: 100px;
    min-height: 100px;
    overflow: hidden;
    height: 100px;
    width: 100px;
    border-radius: 1.25rem;
}

.latest .card .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mainSwiper-swiper-button-prev,
.mainSwiper-swiper-button-next {
    width: fit-content;
    font-size: 22px;
    position: absolute;
    color: #ff0000;
    bottom: -4px;
    z-index: 999;
    cursor: pointer;
}

.mainSwiper-swiper-button-prev {
    left: 30%;
}

.mainSwiper-swiper-button-next {
    right: 30%;
}

.categories {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
}

.catSwiper {
    padding: 1rem 0 2rem;
    width: 100%;
    padding: 0;
    height: 235px;
}

.catSwiper {
    padding: 0 1rem 1rem;
}

.catSwiper .swiper-slide {
    display: flex;
    padding: 1.25rem;
    padding: 1.25rem;
    background: rgba(255, 255, 255, 0.5) none repeat scroll 0% 0%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px 0px;
    border-radius: 1.25rem;
    gap: 20px;
    font-size: 15px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
    text-decoration: none;
    color: #000;
}

.catSwiper .thumbnail {
    min-width: 40%;
    height: 100%;
    overflow: hidden;
    border-radius: 1rem;
}

.catSwiper .thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.catSwiper .text {
    text-align: right;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.navYpag {
    position: absolute;
    right: 10px;
    bottom: 50px;
    width: 40%;
    display: flex;
    justify-content: space-around;
}

.navYpag>* {
    position: static;
    z-index: 999;
    width: min-content !important;
}

.catSwiper .thumbnail {
    height: 100%;
    overflow: hidden;
    border-radius: 1rem;
    min-width: 50%;
    width: 50%;
}

/* start article  */
main .container .article {
    display: flex;
    justify-content: center;
    gap: 30px;
}

main .container .article aside {
    min-width: 300px;
}

main .container .article article {
    min-width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
    text-align: right;
    width: 60%;
}

main .container .article article>h1 {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
    width: 80%;
    margin-bottom: 15px;
}

main .container .article article .thumbnail {
    width: 60%;
    height: 250px;
    border-radius: 30px;
    overflow: hidden;
}

main .container .article article .thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

main .container .article article>h4 {
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0em;
}

main .container .article article p {
    font-size: 19px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: right;
    width: 100%;
    margin: 10px 0;
}

main .container .article article h6 {
    font-size: 21px;
    font-weight: 400;
    line-height: 29px;
    margin-bottom: 10px;
}

main .container .article article h5 {
    font-size: 23px;
    font-weight: 400;
    line-height: 31px;
    margin-bottom: 10px;
}

main .container .article article h4 {
    font-size: 25px;
    font-weight: 400;
    line-height: 31px;
    margin-bottom: 10px;
}


main .container .article article h3 {
    font-size: 27px;
    font-weight: 400;
    line-height: 31px;
    margin-bottom: 10px;
}

main .container .article article h2 {
    font-size: 29px;
    font-weight: 400;
    line-height: 33px;
    margin-bottom: 10px;
}

main .container .article article p img {
    max-width: 45%;
    max-height: 300px;
    border-radius: 15px;
    overflow: hidden;

}

main .container .article article>p span {
    font-weight: 700;
    margin-bottom: 10px;
}